* {
    font-family: verdana, arial, Trebuchet;
}

h1 {
    background: linear-gradient(to right, #33ccff 0%, #0033cc 100%);
    padding: 2%;
    color: white;
    border: 0px;
    margin: 0px;
    text-align: center;
}

.card {
    background-color: rgb(255, 255, 255);
    border: dotted gray;
    color: rgba(0, 0, 0, 0.858);
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
    bottom: 100px;
    left: 400px;
    font-size: small;
}

#fiveday-forecast {

    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    position: relative;
    bottom: 100px;
    left: 400px;
}

.cards {
    margin: 8px;
    padding: 20px;
    background-color: rgb(43, 48, 73);
    text-align: left;
    font-size: small;
}



#history {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 30%;
    margin-left: 0px;
}

aside {
    display: inline-block;
    width: 50%;
    margin-right: 0em;
    padding: 0px;
}